.container {
  width: 100%;
  min-height: 70px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid rgb(121, 121, 121);
  border-radius: 15px;
  word-break: break-all;
  color: black;
  text-decoration: none;
}

.container:hover {
  border: 2px solid #000;
}

.container:active {
  background-color: rgba(240, 240, 240, 0.8);
}
